
body{
    background-image:linear-gradient(rgba(58, 35, 35, 0.5),rgba(0, 0, 0, 0.5)), url("../images/Yzoney.jpg");
    background-size:cover;
    background-position:  fixed;
    background-repeat: no-repeat;
    
    background-attachment:fixed;
    


}
a{
    color: rgb(255, 255, 255);
    
  
}
.fas{
    color: rgb(255, 255, 255);
    font-size: 35px
} 
#button{

    background-color: blue;
    color: aqua;
    bottom: 25px; right: 25px;
}
.navbar-toggler {

    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color:blue;
    border: 12px solid rgb(243, 243, 250);
    border-radius: .25rem;
}

#navbarNav{

 
}

#navbar{

    
}



#mesa{
    height:200px ;
  
    margin-bottom: 20px;
    
}

#foto{

    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../images/Yzoney.jpg");
    background-size:cover;
    background-position:  center;
    background-repeat: no-repeat;
    
    background-attachment:fixed;
}

#mesatitle{

  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
margin-top: 50px;
font-weight: 400;
text-shadow: 2px 2px #0a0f14;



font-style: normal;

  
}

 
.fas{
    color: rgb(255, 255, 255);
    font-size: 35px
} 

.navbar-brand{

    
font-family: active, sans-serif;

font-weight: 400;

font-style: normal;
color: aliceblue;


}


#logo-top{
    color: rgb(0, 23, 43);
   font-size: 3rem;
   background-color: rgb(255, 255, 255);
  height:50px ;
   width: 120px;
  text-align: center;
padding-bottom: 70px;


}

#home{
    color: aliceblue;
   font-size: 2rem;
   left: 60px;
   text-shadow: 2px 2px #0a0f14;

}
#rsvp{
    color: aliceblue;
    font-size: 2rem;
    left: 60px;
    text-shadow: 2px 2px #0a0f14;


}
#hotel{

    color: aliceblue;
   font-size: 2rem;
   left: 60px;
   text-shadow: 2px 2px #0a0f14;

}
#location{

    color: aliceblue;
   font-size: 2rem;
   left: 60px;
   text-shadow: 2px 2px #0a0f14;

}
#gifts{

    color: aliceblue;
   font-size: 2rem;
   left: 60px;
   text-shadow: 2px 2px #0a0f14;

}
#activities{
    color: aliceblue;
    font-size: 2rem;
    left:60px;
    text-shadow: 2px 2px #0a0f14;

}


a {
    font-family: active, sans-serif;

font-weight: 600;

font-style: normal;
color: aliceblue;

    }

    .parent-containers {
        display: flex;
        padding: 20px;
        text-align: center
        
        
        

     }

     footer{
        color:white ;
        background-color:rgb(68, 79, 82);
        width: 100%;
        height:30px ;
        text-align: center;
       font-size-adjust: inherit;
       margin-top: 150px
  
        

        
        
    }
    #mesabotton{
        margin-bottom:100px;
    }

    h6{
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

font-weight: 600;

font-style: normal;
color: aliceblue;
padding-top: 6px;
    }

     h3{
         color: aliceblue
         
     }



.container-right{
    color: black;
    background-color:rgb(166, 221, 221);
    height:200px ;
    text-align: center;
    padding-top: 80px;
    

}

    
         
    


#container-bottom-left{

    padding-right: 10px;
}
#container-bottom-right{
    padding-left: 10px
}
         
        


.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../images/background98.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero h1 {
    /* Text styles */
    font-size: 6em;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
}

#date {
 /* Text styles */
 font-size: 4em;
    
 /* Margins */
 margin-top: 3px;
 margin-bottom: 0.5em;


}

.hero .btn {
    /* Positioning and sizing */
    
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: rgb(18, 66, 169);
    text-decoration: none;
    font-size: 1.5em;
    font-family: amatic-sc, sans-serif;

font-weight: 700;

font-style: normal;
    
    /* Border styles */
   
    border-radius: 0px;
    
    /* Background styles */
    background-color: rgba(255, 255, 255, 0.8);
}
h1{
    color:rgb(255, 255, 255);
    font-family: amatic-sc, sans-serif;

font-weight: 700;

font-style: normal;
   
}
h2{
    color: rgb(255, 255, 255);
    font-family: amatic-sc, sans-serif;

font-weight: 700;

font-style: normal;
     /* Text styles */
     font-size: 9em;
    
     /* Margins */
     margin-top: 0;
     margin-bottom: 0.5em;
   






}

